@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center bg-custom">
    <h1 class="display-4">Veterinaria de Rescate</h1>
    <p class="lead">Cuidando y protegiendo a nuestros amigos rescatados</p>
    <img src="https://i.pinimg.com/736x/5e/3c/77/5e3c77b2f6e9769c435b1aee2fb620e7.jpg" alt="Pastor Alemán Rescatado" class="img-fluid pastor-aleman">
</div>

<style>
    .text-center {
        margin: 40px auto;
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .bg-custom {
        background-image: linear-gradient(to right, #00772e 0%, #25fc6d 100%);
        color: white;
    }

    .display-4 {
        margin-bottom: 20px;
    }

    .text-link {
        color: #ffdd57;
        font-weight: bold;
    }

        .text-link:hover {
            color: #ffd700;
        }

    .pastor-aleman {
        margin-top: 20px;
        border-radius: 10px;
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
